$lever-transform-origin: 0 100%;

html, body {
	height: 100%;
	margin: 0;
}

body {
	background: #000;
}

.container {
	width: 100%;
	height: 100%;
}

#see-and-say {
	width: 60%;
	max-width: 745px;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

	.handle {
		width: 15%;
		height: 30%;
		background: url(../media/images/handle.png) no-repeat 0 0;
		background-size: 100%;
		position: absolute;
		top: 21%;
		right: 13%;
		-ms-transform-origin: $lever-transform-origin;
		-webkit-transform-origin: $lever-transform-origin;
		transform-origin: $lever-transform-origin;
		z-index: 1;

		.ui-rotatable-handle {
			width: 100%;
			height: 100%;
			cursor: pointer;
			position: absolute;
			top: 0px;
			left: 50%;
			-ms-transform: translateX(-50%);
			-webkit-transform: translateX(-50%);
			transform: translateX(-50%);
			z-index: 2;
		}
	}
	
	.arrow {
		width: 16.5%;
		height: 21.8%;
		background: url(../media/images/arrow.png) no-repeat 0 0;
		background-size: 100%;
		border-radius: 0 0 10px 10px;
		margin-top: -5.5%;
		margin-left: -8.25%;
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 10;
		
		.ui-rotatable-handle {
			cursor: pointer;
			width: 100%;
			height: 50%;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	.base {
		width: 100%;
		background: #587fd1;
		background: url(../media/images/base.png) no-repeat 0 65%;
		background-size: 90%;
		padding: 14% 0 12%;
		pointer-events: none;
		position: relative;
		z-index: 2;

		.sound-ring {
			width: 70%;
			height: auto;
			max-width: 520px;
			display: block;
			margin: 10% auto 0;
			position: relative;
			z-index: 5;
		}
	}
}