$lever-transform-origin: 0 100%;

html, body {
	height: 100%;
	margin: 0;
}

.container {
	width: 100%;
	height: 100%;
	background: #000;
}

#see-and-say {
	width: 500px;
	height: 500px;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

	.lever {
		width: 40px;
		height: 300px;
		background: #e4b102;
		position: absolute;
		top: 25px;
		right: 130px;
		-ms-transform-origin: $lever-transform-origin;
		-webkit-transform-origin: $lever-transform-origin;
		transform-origin: $lever-transform-origin;
		z-index: 1;

		.handle,
		.ui-rotatable-handle {
			width: 50px;
			height: 50px;
			border-radius: 50px;
			position: absolute;
			top: -25px;
			left: 50%;
			-ms-transform: translateX(-50%);
			-webkit-transform: translateX(-50%);
			transform: translateX(-50%);
			z-index: 1;
		}

		.handle {
			background: #e4b102;
			border: 1px solid red;
		}

		.ui-rotatable-handle {
			cursor: pointer;
			z-index: 2;
		}
	}

	.base {
		width: 100%;
		height: 100%;
		background: #587fd1;
		border-radius: 9999px;
		position: relative;
		z-index: 2;

		.arrow {
			width: 221px;
			height: 307px;
			background: url(../media/images/arrow.png) no-repeat 0 0;
			border-radius: 0 0 10px 10px;
			margin-top: -154px;
			margin-left: -111px;
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 10;
			
			.ui-rotatable-handle {
				cursor: pointer;
				width: 100%;
				height: 50%;
				position: absolute;
				top: 0;
				left: 0;
			}
		}

		.sound-base {
			width: 90%;
			height: 90%;
			background: #deb326;
			border-radius: 9999px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 5;
		}
	}
}