$font-family-default: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-size-base: 18px;

$yellow-color: #ffe000;

$lever-transform-origin: 50% 100%;

@mixin fontDistantGalaxy() {
	font-family: 'distant_galaxyregular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	letter-spacing: 0.15em;
	line-height: 1.25;
}

@function em($target, $context: $font-size-base) {
  @return ($target / $context) * 1em;
}

html, body { margin: 0; }

body {
	background: #000 url(../media/images/background.jpg) repeat 0 0;
	font-family: $font-family-default;
	font-size: em($font-size-base);
	line-height: 1.85;
}

.container {
	width: 100%;
	padding: em(100px) 0 em(100px);
	position: relative;
	z-index: 5;

	.content {
		width: 70%;
		color: #fff;
		margin: em(150px) auto 0;
		text-align: center;
		
		h1 {
			@include fontDistantGalaxy();
			font-size: 30px;
		}

		a {
			color: #5ed2ff;
			text-decoration: none;
		}

		sup {
			font-family: $font-family-default;
			font-size: 0.4em;
			position: relative;
			top: em(5px);
			vertical-align: top;
		}
	}
}

#see-and-say {
	width: 60%;
	max-width: 745px;
	margin: 0 auto;
	position: relative;
	
	.instructions {
		color: #fff;
		@include fontDistantGalaxy();
		font-size: em(20px);
		font-style: italic;
		position: absolute;
		top: 21%;
		right: -10%;
		text-align: center;
		z-index: 0;
		
		.visuals {
			width: 65px;
			height: 65px;
			position: relative;

			svg {
				width: 100%;
				height: auto;
				display: block;
				position: absolute;
				top: 0;
			}
			
			svg.pick {
				.arrows {
					fill: $yellow-color;
				}

				.arrow {
					fill: none;
					stroke: $yellow-color;
				}
			}

			svg.pull {
				.hand line,
				.hand path,
				.hand polyline,
				.arrow line,
				.arrow polyline {
					fill: none;
					stroke: $yellow-color;
				}
			}
		}

		p {
			margin: em(10px) 0 0;

			.sm {
				display: block;
				font-size: 0.6em;
				margin: 0 0 em(5px);
				position: relative;
				vertical-align: middle;
			}
		}
	}

	.handle {
		width: 15%;
		height: 30%;
		background: url(../media/images/handle.png) no-repeat 0 0;
		background-size: 100%;
		position: absolute;
		top: 21%;
		right: 13%;
		-ms-transform-origin: $lever-transform-origin;
		-webkit-transform-origin: $lever-transform-origin;
		transform-origin: $lever-transform-origin;
		z-index: 1;
		transform: rotate(19.25rad);

		.ui-rotatable-handle {
			width: 100%;
			height: 100%;
			cursor: pointer;
			position: absolute;
			top: 0px;
			left: 50%;
			-ms-transform: translateX(-50%);
			-webkit-transform: translateX(-50%);
			transform: translateX(-50%);
			z-index: 2;
		}

		.ios-init {
			background: pink;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}
	
	.arrow {
		width: 16.5%;
		height: 21.8%;
		background: url(../media/images/arrow.png) no-repeat 0 0;
		background-size: 100%;
		border-radius: 0 0 10px 10px;
		margin-top: -5.5%;
		margin-left: -8.25%;
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 10;
		
		.ui-rotatable-handle {
			cursor: pointer;
			width: 100%;
			height: 50%;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	
	.engine-glow {
		width: 31%;
		height: auto;
		opacity: 0.5;
		position: absolute;
		bottom: -2%;
		left: 50%;
		-ms-transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		z-index: 5;
	}

	.base {
		width: 100%;
		background: #587fd1;
		background: url(../media/images/base.png) no-repeat 0 65%;
		background-size: 90%;
		padding: 14% 0 12%;
		pointer-events: none;
		position: relative;
		z-index: 2;

		.sound-ring {
			width: 70%;
			height: auto;
			max-width: 520px;
			display: block;
			margin: 10% auto 0;
			position: relative;
			z-index: 5;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
	}
}